<nav class="bg-white border-b shadow-sm">
  <div class="max-w-7xl mx-auto px-10 h-24 flex items-center justify-between">
    <div class="text-2xl font-serif font-extrabold text-indigo-500 text-shadow-md">My Portfolio</div>
    <ul class="flex gap-6 text-gray-700">
      <li><a href="#" class="nav-link hover:text-blue-600 no-underline pressed:underline" data-page="home">Home</a></li>
      <li><a href="#" class="nav-link hover:text-blue-600 no-underline pressed:underline" data-page="about">About me</a></li>
      <li><a href="#" class="nav-link hover:text-blue-600 no-underline pressed:underline" data-page="skills">Skills</a></li>
      <li><a href="#" class="nav-link hover:text-blue-600 no-underline pressed:underline" data-page="projects">Projects</a></li>
      <li><a href="#" class="nav-link hover:text-blue-600 no-underline pressed:underline" data-page="contact">Contact</a></li>
    </ul>
  </div>
</nav>
