<nav class="bg-nav-bg text-body-text border-b border-border-color shadow-sm">
  <div class="max-w-7xl mx-auto px-10 h-24 flex items-center justify-between">
    <div class="text-2xl font-serif font-extrabold text-title-text text-shadow-md">My Portfolio</div>
    <ul class=" gap-6 text-body-text pt-3 hidden md:flex ">
      <li><a href="#" class="nav-link hover:text-title-text no-underline pressed:underline" data-page="home">Home</a></li>
      <li><a href="#" class="nav-link hover:text-title-text no-underline pressed:underline" data-page="about">About me</a></li>
      <li><a href="#" class="nav-link hover:text-title-text no-underline pressed:underline" data-page="skills">Skills</a></li>
      <li><a href="#" class="nav-link hover:text-title-text no-underline pressed:underline" data-page="projects">Projects</a></li>
      <li><a href="#" class="nav-link hover:text-title-text no-underline pressed:underline" data-page="contact">Contact</a></li>
      <li>
        <label class="inline-flex items-center cursor-pointer">
          <input id="themeToggle" type="checkbox" value="" class="sr-only peer">
          <div
            class="relative w-16 h-8
                  bg-yellow-400 peer-checked:bg-slate-700 dark:bg-slate-700
                  rounded-full transition-colors duration-300
                  peer-focus:outline-none"
          >
            <div class="absolute inset-0 flex items-center justify-start pl-2 transition-opacity duration-300 peer-checked:opacity-0">
              <img src="/icons/light_mode.svg" class="w-4 h-4 mr-1">
              <span class="text-[9px] font-bold text-gray-900 dark:text-gray-100 uppercase">light</span>
            </div>
          </div>
        </label>
      </li>
    </ul>
    <button id="menuBtn" class="md:hidden text-title-text">
      ☰
    </button>
  </div>
</nav>
