<aside class="flex flex-col bg-card-bg min-h-screen p-6 gap-6 ">
  <img src="/images/profile.HEIC" alt="profile" class="aspect-auto object-cover">
  <h1 class="text-xl font-semibold ">
    Anecha Yoksombat
  </h1>

  <p class="text-base  text-title-text font-medium leading-snug">
    Junior Software Engineer / Full-Stack Developer
  </p>

  <p class="text-sm text-subtitle-text leading-relaxed">Software-focused Computer Science student with experience in full-stack web development and foundational knowledge in machine learning.</p>
    <hr class="my-2 border-gray-300" />
    <div id="contact-list" class="flex flex-col gap-5"></div>
    <hr class="my-2 border-gray-300" />
    <div class="flex flex-col gap-4"><p class="text-base font-medium">Socials</p><div id="social-list" class="flex flex-col gap-5"></div> </div>
</aside>