<div id="about" class="relative flex flex-row pl-4 pr-6 py-8 gap-4 w-full">
    <span
        class="absolute left-4 top-10 bottom-10 w-px bg-border-color
            hidden lg:block">
    </span>
    <div class="flex flex-col flex-1 min-w-0 gap-6 pl-9">
    <h2 class="text-xl font-medium">Hobbies</h2>
    
    <div class="flex w-full overflow-x-auto gap-3 pb-4 snap-x snap-mandatory scrollbar-hide">
        
        <div class="flex-shrink-0 bg-indigo-50 w-64 flex flex-col overflow-hidden border border-gray-200 shadow-sm rounded-2xl p-3 snap-start">
            <div class="w-full aspect-video overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover" src="/images/books.png" alt="travel vlog" />
            </div>
            <div class="flex flex-col pt-3">
                <h5 class="text-sm font-bold tracking-tight text-gray-900 line-clamp-1">Write blog: Recommend BOOKS</h5>
                <a href="https://medium.com/@anechayoksombat" class="mt-1 text-xs text-gray-600 leading-relaxed line-clamp-2">medium.com/@anechayoksombat</a>
            </div>
        </div>

        <div class="flex-shrink-0 bg-indigo-50 w-64 flex flex-col overflow-hidden border border-gray-200 shadow-sm rounded-2xl p-3 snap-start">
            <div class="w-full aspect-video overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover" src="/images/novel.png" alt="travel vlog" />
            </div>
            <div class="flex flex-col pt-3">
                <h5 class="text-sm font-bold tracking-tight text-gray-900 line-clamp-1">Novels</h5>
                <p class="mt-1 text-xs text-gray-600 leading-relaxed line-clamp-2">Read scifi, romance, chinese</p>
            </div>
        </div>

        <div class="flex-shrink-0 bg-indigo-50 w-64 flex flex-col overflow-hidden border border-gray-200 shadow-sm rounded-2xl p-3 snap-start">
            <div class="w-full aspect-video overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover" src="/images/travel.png" alt="travel vlog" />
            </div>
            <div class="flex flex-col pt-3">
                <h5 class="text-sm font-bold tracking-tight text-gray-900 line-clamp-1">Travel</h5>
                <a href="https://medium.com/@anechayoksombat" class="mt-1 text-xs text-gray-600 leading-relaxed line-clamp-2">My dream is to travel around the world</a>
            </div>
        </div>
        
        </div>
        <div class="gap-4 pb-6">
            <h2 class="text-xl font-medium">Education & Course</h2>
            <div id="edu-school-list" class="flex flex-col gap-0 overflow-auto pb-4"></div>
            <div id="edu-course-list" class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-4"></div>
        </div>
    </div>
</div>