<aside class="flex flex-col bg-white min-h-screen p-6 gap-6 ">
  <img src="/images/profile.HEIC" alt="profile" class="aspect-auto object-cover">
  <div>Anecha Yoksombat</div>
  <div>UX designer</div>
  <div>"Every great design begins with an even better story." by a</div>  
    <hr class="my-4 border-gray-300" />
    <div id="contact-list" class="flex flex-col gap-5"></div>
    <hr class="my-4 border-gray-300" />
    <div class="flex flex-col gap-5"><p clas="text-xl">Socials</p><div id="social-list" ></div> </div>
</aside>