@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- Light Mode Colors --- */
    --color-bg-main: 199 210 254;    /* พื้นหลังรอบนอก (indigo-200) */
    --color-bg-card: 255 255 255;    /* พื้นหลังคอนเทนต์ (white) */
    --color-text-title: 79 70 229;   /* สีหัวข้อ (indigo-600) */
    --color-text-body: 31 41 55;     /* สีตัวอักษรทั่วไป (gray-800) */
    --color-border: 226 232 240;     /* สีเส้นขอบ (slate-200) */
    --color-bg-nav: 255 255 255;     /* สีพื้นหลัง Navbar (white) */
  }

  .dark {
    /* --- Dark Mode Colors --- */
    --color-bg-main: 63 65 86;   /* พื้นหลังรอบนอก (indigo-200) */
    --color-bg-card: 11 15 42;       /* พื้นหลังคอนเทนต์ (slate-900) */
    --color-text-title: 129 140 248; /* สีหัวข้อ (indigo-400) */
    --color-text-body: 226 232 240;  /* สีตัวอักษรทั่วไป (slate-200) */
    --color-border: 8 47 73;        /* สีเส้นขอบ (slate-700) */
    --color-bg-nav: 20 24 58;     /* สีพื้นหลัง Navbar (white) */
  }
}